@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap'); /*fontes das letras*/
* {/*zerando as configurações próprias*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* fim da pagina home*/
body{
    font-size: 100%;
    background-color: #f2eae8;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0,5px;
}

.cabecalho-logo{
    height: 340px;
}

.cabecalho-banner{
    height: 300px;
}

.cabecalho-menu{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho-menu-item{
    font-family: 'Righteous', cursive;
    color:#602e9e;
    font-weight: 250px;
    font-size: 18px;
}

.cabecalho-menu-item:hover{
    background-color: #98c5bb;
}

.borda-inicio{
    padding: 3px;
    border-bottom: 0.8px solid #602e9e;
}

.content{
    height:535px;
    width: 515px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 75%;
    left: 40%;
    transform: translate(-25%, -25%);
}

.mensagem{
    border-radius: 10px;
}

.mensagem1{
    font-family: 'Sarala', cursive;
    color:#22142b;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.navigation{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-45%);
    display: flex;
}

.button{
    border: 2px solid #602e9e;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .6s;
}

.button:not(:last-child){
    margin-right: 40px;
}

.button:hover{
    background-color: #602e9e;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 600%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: .5s;
}

.slide img{
    height: 510px;
    width: 510px;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

#slide4:checked ~ .s1{
    margin-left: -60%;
}

#slide5:checked ~ .s1{
    margin-left: -80%;
}

#slide6:checked ~ .s1{
    margin-left: -100%;
}

.borda-fim{
    border-top: 0.8px solid #602e9e;
    margin-top: 600px;
}

.rodape{
    padding: 15px;
    border-top: 0.8px solid #602e9e;
}

.rodape-imagem2{
    margin-top: 15px;
    margin-left: 554px;
    height: 145px;    
}