@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap'); /*fontes das letras*/

* {/*zerando as configurações próprias*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* fim da pagina home*/
body{
    font-size: 100%;
    background-color: #f2eae8;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0,5px;
}

.cabecalho-logo{
    height: 340px;
}

.cabecalho-banner{
    height: 300px;
}

.cabecalho-menu{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho-menu-item{
    font-family: 'Righteous', cursive;
    color:#602e9e;
    font-weight: 250px;
    font-size: 18px;
}

.cabecalho-menu-item:hover{
    background-color: #98c5bb;
}